.app{
    border: 2px rgb(1, 51, 1) solid;
    border-radius: 10px;
    background:#d1e0e0 ;
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(#ffffff, #5d8989)
}

.completed{
text-decoration: line-through;
}

h2{
    font-size: 2rem;
    color: #1a1a00;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -2px #75a3a3
}
.form{
text-align: center;
padding: 0.5%;
margin-left:15%;
}

.input{
    border-radius: 6px;
}
button{
    background:#334d4d ;
    color: #ffffe6;
    padding: 0.5%;
    margin: 2%;
    border-radius: 10px;
}
button:hover{
    background-color:#ffffe6;
    color: #334d4d;
    border: 2px black solid;
    
}
#btn{
    margin-left:40%;
}

p{
    background: #75a3a3;
    padding:2%;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    width:50%;
    margin:2% auto;
    box-shadow: 14px 8px 4px black;
    border-radius: 10px;

}